* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.add-product-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.add-product-container h1 {
  margin-bottom: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  min-height: 300px;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-link {
  text-decoration: none;
  color: #333;
}

.product-description {
  font-size: 14px;
}

.product-price {
  font-size: 18px;
  color: #e91e63;
}

.product-details-button {
  width: 100%;
}

@media (max-width: 768px) {
  .product-card {
    min-height: auto;
  }
}